*{
  max-width: 1350px;
  margin:auto;
  
}

body{
  background:#a6b185;
  color:#044124;
}  



/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 50px;
  background: #dbe4c0; 
  margin: 0;
}

/* logo */

.logo img {
  height: 45px;
  width: auto;
  display: block;
}

/* center nav */
.nav-center a {
  margin: 0 18px; 
  text-decoration: none;
  color: #14092c;
  font-weight: 400px;
}

/* button */
.nav-btn {
  background: #185022;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
   display: inline-flex;        
  align-items: center;         
  justify-content: center;    
  gap: 8px;         
  
}



/* ===== HERO ===== */

.hero-btn{
   background:white;
  color: #163d23;
  border:1px solid rgba(255, 255, 255, 0.705);
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-weight:500;
}


.btn{
   background:none;
  color: #fff;
  border:1px solid rgba(255, 255, 255, 0.705);
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}
.nav-btn img{
  display: flax;
}

.hero{
  background:
  linear-gradient(rgba(15,23,42,.7),rgba(15,23,42,.7)),
  url("../assets/Banner.jpg")
  center/cover no-repeat;

  padding:6rem 5vw;
  text-align:center;
}
.hero h1{

  font-size:clamp(2rem,5vw,3.2rem);
  color:#fffafa;
  margin-bottom:1rem;
}

.hero h1 span{
  color:#22c55e;
}

.hero p{
  color:#cbd5e1;
  max-width:700px;
  margin:0 auto 2rem;
}

/* ===== FEATURES ===== */
.features{
  padding:5rem 5vw;
  text-align:center;
}

.features h2{
  font-size:clamp(1.8rem,4vw,2.4rem);
  margin-bottom:5px;
}

.feature-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:5px;
}

.card{
  background:#f8fafc;
  padding:30px;
  border-radius:20px;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.card img{
  background-color: rgb(70, 19, 19);
  border-radius: 50%;
  padding: 8px;
}

.card:hover{
  transform:translateY(-8px);
}

.card p{
  color:#273b57;
  font-weight: 500;
}

/* ===== IMAGE SECTION ===== */
.image-section{
  display:flex;
  gap:3rem;
  align-items:center;
  padding:5rem 5vw;
  flex-wrap:wrap;
}

.image-box{
  flex:1 1 280px;
  border-radius:50%;
  overflow:hidden;
}

.image-box img{
  max-width:100%;
  display:block;
  transition:transform .5s;
}

.image-box:hover img{
  transform:scale(1.1) translateY(-10px);
}

.text-box{
  flex:1 1 300px;
}

.text-box h4{
  color: rgb(11, 22, 18);
}

.text-box h2{
  font-size:clamp(1.8rem,4vw,2.6rem);
  margin-bottom:1rem;
  color: rgb(27, 70, 56);
}

.list-p{
  list-style:none;
  margin-bottom:.6rem;
  color:#140a27;
  font-size: large;
}

/* ===== CTA ===== */
.cta{
  background:#f8fafccb;
  text-align:center;
  padding:35px;
}

.cta h2{
  font-size:clamp(1.8rem,4vw,2.4rem);
  margin-bottom:1.5rem;
}

/* ===== FOOTER ===== */

.footer {
  background: linear-gradient(90deg, #021b33, #042743);
  color: #d1d5db;
  padding: 40px 6vw 20px;
  font-family: Arial, sans-serif;
  
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}


.footer-logo  {
   height: 30px;
  width: auto;
  display:flex;
}

.footer-social p {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: center;
}

.footer-social .icons a {
  margin-right: 10px;
  color: #131212;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #cbd5e1;
  font-weight: bold;
  text-decoration: none;
}

.footer-social .icons a:hover {
  background: #4ade80;
  color: #022c22;
}

.footer hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,0.15);
  margin: 25px 0 15px;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #9ca3af;
}
